%h3 Public Slots

.row.js-public-slots
  .col-6.mt-4
    .card.bg-primary.js-public-slot-1
      .card-body
        %p Slot #1
        %hr/
        %h3.py-4 Free
  .col-6.mt-4
    .card.bg-primary.js-public-slot-2
      .card-body
        %p Slot #2
        %hr/
        %h3.py-4 Free
  .col-6.mt-4
    .card.bg-primary.js-public-slot-3
      .card-body
        %p Slot #3
        %hr/
        %h3.py-4 Free
  .col-6.mt-4
    .card.bg-primary.js-public-slot-4
      .card-body
        %p Slot #4
        %hr/
        %h3.py-4 Free