%h3 Public Slots

.js-public-slots
  = button_tag "Slot 1", class: "js-public-slot-1 btn btn-primary"
  = button_tag "Slot 2", class: "js-public-slot-2 btn btn-primary"
  = button_tag "Slot 3", class: "js-public-slot-3 btn btn-primary"