<div class="row d-flex justify-content-around">
  <div class="col-12 col-lg-4 my-5">
    <%= image_tag 'rizwan.jpg', class: "img-fluid" %>
    <hr>
    <div>
      <h4>Rizwan Kabir</h4>
      <%= mail_to "f178385@fsd.nu.edu.pk", "f178385@fsd.nu.edu.pk", class: "text-decoration-none text-white-50" %>
    </div>
  </div>
  <div class="col-12 col-lg-4 my-5">
    <%= image_tag 'awais.jpg', class: "img-fluid" %>
    <hr>
    <div>
      <h4>Muhammad Awais</h4>
      <%= mail_to "f178234@fsd.nu.edu.pk", "f178234@fsd.nu.edu.pk", class: "text-decoration-none text-white-50" %>
    </div>
  </div>
</div>