<main class="px-3">
  <h1>Who Are We?</h1>
  <p class="lead">FAST Parking is the main point of reference for online parking reservations in Pakistan. Besides guaranteeing your space, we do so at an unbeatable price, with discounts of up to 70% of the official price.</p>
  <p class="lead">So, what are you waiting for? Go & find your slot!</p>
  <p class="lead">
    <%= link_to "Special Slots", special_slots_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    <%= link_to "Public Slots", general_slots_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </p>
</main>
